.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  position: relative;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 183px 0 0;
  max-width: 709px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
}

.header__image {
  width: 100%;
  max-width: 646px;
  max-height: 568px;
  height: auto;
  display: block;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  color: #838383;
  margin-top: auto;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
}